doctype html
html
  head
    title= htmlWebpackPlugin.options.title
    each key in htmlWebpackPlugin.files.css
      link(href=key, rel='stylesheet')
  body
    #main
      include ./jade/hero.part.jade

      script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous")
      if htmlWebpackPlugin.options.scripts
        each key in htmlWebpackPlugin.options.scripts
          script(src=key)
      if htmlWebpackPlugin.files.chunks
        each key in htmlWebpackPlugin.files.chunks
          script(src=key.entry)

      if htmlWebpackPlugin.options.devServer
        script(src=htmlWebpackPlugin.options.devServer + "/webpack-dev-server.js")